# .env.example

# The following is an example only. It documents the referenced environmental variables used for
# local execution and passing configuration to Docker Compose. Embedded within /backend npm scripts
# (npm start and npm run dev) and docker-compose.yml .env (root) is directly consumed to configure
# server and database.

# Note: .env is directly provided as part of this project to fully document the development
#       artifacts and process (academic project). Normally, .env would be excluded via .gitignore
#       as it contains user and password information for the database

POSTGRES_HOST=      # (optional) used for docker-compose alignment. Default (server.js) localhost
POSTGRES_USER=      # postgres db username. Referenced by server.js
POSTGRES_PASSWORD=  # db password. Referenced by server.js
POSTGRES_DB=        # db name. Referenced by server.js
POSTGRES_PORT=      # db port. Referenced by server.js

BACKEND_PORT=       # backend port. Default 3001
