/* Tetris.css */

/* Custom, local .css stylings for Tetris game rendering */

.game-window {
  background-color: rgb(117, 116, 116);
}

.player-info {
  margin-top: 2%;
  margin-left: 5%;
  font-size: 1.4rem;
}

.game-body {
  display: flex;
  align-items: flex-start;
  padding: 5%;
  padding-top: 0%;
  gap: 5%;
}

.play-window {
  width: 69%;
}

.side-bar {
  width: 26%;
}

.score-board {
  margin-top: 20%;
  padding-right: 5px;
  font-size: 1rem;
  color: white;
  text-align: right;
  background-color: black;
}

.score-label {
  font-size: 0.7rem;
}

.game-over {
  text-align: center;
  font-size: 1.1rem;
}

.game-row {
  display: flex;
}

.game-cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  box-sizing: border-box;
}

.block-none {
  background-color: black;
}

.square-block {
  background-color: yellow;
}

.line-block {
  background-color: cyan;
}

.s-block {
  background-color: green;
}

.z-block {
  background-color: red;
}

.l-block {
  background-color: orange;
}

.j-block {
  background-color: blue;
}

.t-block {
  background-color: magenta;
}
